<!DOCTYPE html>
<html lang="en" dir="ltr">



<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Ekka - Admin Dashboard HTML Template.">

	<title>Ekka - Admin Dashboard HTML Template.</title>

	<!-- GOOGLE FONTS -->
	<script src="https://kit.fontawesome.com/bf625ee5bc.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;family=Poppins:wght@300;400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">

	<link href="../../../../cdn.jsdelivr.net/npm/%40mdi/font%404.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

	<!-- PLUGINS CSS STYLE -->
	<link href="/color//plugins/simplebar/simplebar.css" rel="stylesheet" />

	<!-- Data-Tables -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

	<!-- Ekka CSS -->
	<link id="ekka-css" rel="stylesheet" href="/color//css/ekka.css" />

	<!-- FAVICON -->
	<link href="/color//img/favicon.png" rel="shortcut icon" />
</head>

<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- LEFT MAIN SIDEBAR -->
		<%-include('./partials/adminSidebar.ejs')%>
		

		<!-- PAGE WRAPPER -->
		<div class="ec-page-wrapper">

			<!-- Header -->
            <%-include('./partials/adminHeader.ejs')%>

			<!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
						<div>
						  <h1>monthly Report Report</h1>
						  <p class="breadcrumbs">
							<span><a href="/index">Home</a></span>
							<span><i class="mdi mdi-chevron-right"></i></span>Monthly Report
						  </p>
						</div>
						<!-- <div>
						  <button onclick="generatePdf()" class="btn btn-primary"> Download </button>
						</div> -->
					  </div>
					  <form id="dateform">
						<div style="width: 987px;height: 100px;background-color: rgb(255, 255, 255);display: flex; color: black;">
						  FROM<div style="width: 200px;height: 100px;background-color: rgb(255, 255, 255);"><input type="date"  name="fromdate" style="margin-top: 60px;">
  
						  </div>
						  TO<div style="width: 160px;height: 100px;background-color: rgb(255, 255, 255);flex-direction: row;"><input type="date" name="todate" style="margin-top: 60px;">
  
						  </div>
						  <div style="width: 200px;height: 100px;background-color: rgb(255, 255, 255);">
							  <button type="button" style="margin-top: 54px; "class=" btn btn-primary" onclick="filter()">Download</button>
  
						  </div>
						</div>
					  </form>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-body">
									<div class="table-responsive">
										<div id="invoice">
											<table id="example" class="table" style="width:100%">
												<thead>
													<tr>
														<th>Date</th>
														<th>Total Order</th>
														<th>Total Product</th>
														<th>Total</th>
														<th>Profit</th>
														
													</tr>
												</thead>
	
												<tbody  id="dilyreport">
													<tr>   
														<%for(i=0;i<dailyreport.length ;i++){%>
														<td><%=dailyreport[i]._id.daily%>/<%= dailyreport[i]._id.month%>/<%= dailyreport[i]._id.year%></td>
														<td><%=dailyreport[i].count%></td>
														<td><%=dailyreport[i].items%></td>
														<td>$<%=dailyreport[i].totalprice%></td>
														<td>$<%=dailyreport[i].totalprice*15/100%></td>
														<!-- <td>PAID</td> -->
														
													</tr>
													<% } %>
													
	
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
			</div> <!-- End Content Wrapper -->
			<%-include('./partials/adminFooter.ejs')%>

			<!-- Footer -->
			<footer class="footer mt-auto">
				<div class="copyright bg-white">
					<p>
						Copyright &copy; <span id="ec-year"></span><a class="text-primary"
							href="https://themeforest.net/user/ashishmaraviya" target="_blank"> Ekka Admin
							Dashboard</a>. All Rights Reserved.
					</p>
				</div>
			</footer>

		</div> <!-- End Page Wrapper -->
	</div> <!-- End Wrapper -->
		<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
	<script>
	
	let table = $('#example').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
      ]
    });
	</script>


	<!-- Common Javascript -->
	<!-- <script src="/color//plugins/jquery/jquery-3.5.1.min.js"></script> -->
	<script src="/color//js/bootstrap.bundle.min.js"></script>
	<script src="/color//plugins/simplebar/simplebar.min.js"></script>
	<script src="/color//plugins/jquery-zoom/jquery.zoom.min.js"></script>
	<script src="/color//plugins/slick/slick.min.js"></script>

	<!-- Data-Tables -->
	<!-- <script src='/color//plugins/data-tables/jquery.datatables.min.js'></script>
	<script src='/color//plugins/data-tables/datatables.bootstrap5.min.js'></script>
	<script src='/color//plugins/data-tables/datatables.responsive.min.js'></script> -->

	<!-- Option Switcher -->
	<script src="/color//plugins/options-sidebar/optionswitcher.js"></script>

	<!-- Ekka Custom -->
	<script src="/color//js/ekka.js"></script>
</body>



</html>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
	
	const filter=async()=>{
		const form=document.getElementById('dateform')
        const formData = new FormData(form)
        let data = Object.fromEntries(formData)
		console.log('clalling arrayyyy')
		axios.post('/admin/dailyfilter',data)
		.then((res)=>{
			table.destroy()
          let{dailyreport}=res.data
		  div=``
		  for(i=0;i<dailyreport.length;i++){
			div+=`<tr>   
														<td>${dailyreport[i]._id.daily+'/'+ dailyreport[i]._id.month+'/'+ dailyreport[i]._id.year}</td>
														<td>${dailyreport[i].count}</td>
														<td>${dailyreport[i].items}</td>
														<td>$${dailyreport[i].totalprice}</td>
														<td>$${dailyreport[i].totalprice*15/100}</td>
														
														
													</tr>`
		  }
		  document.getElementById('dilyreport').innerHTML=div
		  table = $('#example').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
      ]
    })

		})
	}
</script>